{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": false,
  "singleQuote": false,
  "printWidth": 120,
  "plugins": [
    "prettier-plugin-tailwindcss",
    "@shopify/prettier-plugin-liquid",
    "prettier-plugin-ejs"
  ],
  "liquidSingleQuote": false
}