{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": false,
  "singleQuote": false,
  "printWidth": 120,
  "plugins": [
    "@shopify/prettier-plugin-liquid",
    "prettier-plugin-tailwindcss"
  ],
  "liquidSingleQuote": false,
  "tailwindConfig": "./tailwind.config.js"
}