{% comment %}
  TODO make no js friendly
  TODO make screen reader friendly (add aria attributes)
{% endcomment %}
<!doctype html>
<html lang="en" class="scroll-smooth motion-reduce:scroll-auto">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow">

    <meta property="og:type" content="website">
    <meta property="og:title" content="Vincent V">
    <meta property="og:url" content="https://vivcoding.github.io">
    <meta property="og:image" content="/assets/images/logo-bg.png">
    <meta property="og:description" content="CS Master's @ Purdue University">

    <meta property="twitter:title" content="Vincent V">
    <meta property="twitter:description" content="CS Master's @ Purdue University">
    <meta property="twitter:image" content="/assets/images/logo-bg.png">
    <meta name="twitter:card" content="summary_large_image">

    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/logo.css">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/images/logo-bg.svg">

    <title>Vincent V</title>
  </head>
  <body class="bg-[#0D0F20] font-mono text-white">
    <canvas id="pixiCanvas" class="fixed left-0 top-0 -z-30 opacity-0 motion-reduce:hidden"></canvas>
    <div id="blobBg" class="fixed left-0 top-0 -z-30 h-screen w-screen opacity-0 motion-reduce:hidden">
      <div
        class="blob fixed z-[-10] aspect-square h-[60vh] origin-[30%_50%] animate-spin-slow rounded-full bg-gradient-to-r from-[#00C2FF] to-[#213941] blur-[200px] animation-duration-[5s]"
      ></div>
      <div
        class="blob fixed z-[-10] aspect-square h-[60vh] origin-[50%_70%] animate-spin-slow rounded-full bg-gradient-to-r from-[#00C2FF] to-[#213941] blur-[200px] animation-duration-[10s]"
      ></div>
    </div>
    <div id="bgOverlay" class="fixed -z-10 h-screen w-screen bg-[#0D0F20] opacity-0 motion-reduce:hidden"></div>

    {% include "index/nav.liquid" %}
    {% include "index/themeSettings.liquid" %}

    {% include "index/intro.liquid" %}
    {% include "index/about.liquid" %}
    {% include "index/projects.liquid" %}
    {% include "index/contact.liquid" %}
  </body>
  <script type="module" src="/scripts/index.ts"></script>
</html>
