<nav id="navbar" class="fixed z-40 w-full bg-[#0D0F20] p-6 sm:pl-9">
  <div class="flex flex-row justify-center gap-x-7 text-base font-medium sm:justify-start">
    <a
      class="navbarLink inline-block animate-fade-in-down opacity-0 transition animation-delay-[1.5s] animation-duration-500 hover:scale-125 motion-reduce:animate-none motion-reduce:opacity-100 motion-reduce:hover:scale-100"
      href="#"
      >Home</a
    >
    <a
      class="navbarLink inline-block animate-fade-in-down opacity-0 transition animation-delay-[1.6s] animation-duration-500 hover:scale-125 motion-reduce:animate-none motion-reduce:opacity-100 motion-reduce:hover:scale-100"
      href="#about"
      >About</a
    >
    <a
      class="navbarLink inline-block animate-fade-in-down opacity-0 transition animation-delay-[1.7s] animation-duration-500 hover:scale-125 motion-reduce:animate-none motion-reduce:opacity-100 motion-reduce:hover:scale-100"
      href="#projects"
      >Projects</a
    >
    <a
      class="navbarLink inline-block animate-fade-in-down opacity-0 transition animation-delay-[1.8s] animation-duration-500 hover:scale-125 motion-reduce:animate-none motion-reduce:opacity-100 motion-reduce:hover:scale-100"
      href="#contact"
      >Contact</a
    >
  </div>
</nav>
