@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* font from: https://fonts.google.com/specimen/Roboto+Mono?preview.text=Vincent%20V&preview.text_type=custom */
  @font-face {
    font-family: "RobotoMono";
    src: url("../assets/fonts/Roboto_Mono/static/RobotoMono-Thin.ttf");
    font-weight: 100;
  }

  @font-face {
    font-family: "RobotoMono";
    src: url("../assets/fonts/Roboto_Mono/static/RobotoMono-ExtraLight.ttf");
    font-weight: 200;
  }

  @font-face {
    font-family: "RobotoMono";
    src: url("../assets/fonts/Roboto_Mono/static/RobotoMono-Light.ttf");
    font-weight: 300;
  }

  @font-face {
    font-family: "RobotoMono";
    src: url("../assets/fonts/Roboto_Mono/static/RobotoMono-Regular.ttf");
    font-weight: 400;
  }

  @font-face {
    font-family: "RobotoMono";
    src: url("../assets/fonts/Roboto_Mono/static/RobotoMono-Medium.ttf");
    font-weight: 500;
  }

  @font-face {
    font-family: "RobotoMono";
    src: url("../assets/fonts/Roboto_Mono/static/RobotoMono-SemiBold.ttf");
    font-weight: 600;
  }

  @font-face {
    font-family: "RobotoMono";
    src: url("../assets/fonts/Roboto_Mono/static/RobotoMono-Bold.ttf");
    font-weight: 700;
  }
}

/* #region logo normal */

#logo {
  overflow: visible;
  transform: rotate(3deg);

  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 700ms;
}

#logo path {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

#logo #logoTop,
#logo #logoStroke {
  transform: translate(-2px, -3px);
}

#logo #logoMiddle {
  transform: translate(2px, 3px);
}

#logo #logoBottom {
  transform: translate(5px, 5px);
}

/* #endregion logo normal */

/* #region logo hover */

#logo:hover {
  transform: rotate(-1deg) scale(1.1);
}

#logo:hover #logoTop,
#logo:hover #logoStroke {
  transform: translate(-12px, -17px);
}

#logo:hover #logoMiddle {
  transform: translate(-4px, -4px);
}

#logo:hover #logoBottom {
  transform: translate(5px, 7px);
}

/* #endregion logo hover */
