@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* #region font */

  /* font from: https://fonts.google.com/specimen/Roboto+Mono */
  @font-face {
    font-family: "RobotoMono";
    src: url("/assets/fonts/Roboto_Mono/static/RobotoMono-Thin.ttf");
    font-weight: 100;
  }

  @font-face {
    font-family: "RobotoMono";
    src: url("/assets/fonts/Roboto_Mono/static/RobotoMono-ExtraLight.ttf");
    font-weight: 200;
  }

  @font-face {
    font-family: "RobotoMono";
    src: url("/assets/fonts/Roboto_Mono/static/RobotoMono-Light.ttf");
    font-weight: 300;
  }

  @font-face {
    font-family: "RobotoMono";
    src: url("/assets/fonts/Roboto_Mono/static/RobotoMono-Regular.ttf");
    font-weight: 400;
  }

  @font-face {
    font-family: "RobotoMono";
    src: url("/assets/fonts/Roboto_Mono/static/RobotoMono-Medium.ttf");
    font-weight: 500;
  }

  @font-face {
    font-family: "RobotoMono";
    src: url("/assets/fonts/Roboto_Mono/static/RobotoMono-SemiBold.ttf");
    font-weight: 600;
  }

  @font-face {
    font-family: "RobotoMono";
    src: url("/assets/fonts/Roboto_Mono/static/RobotoMono-Bold.ttf");
    font-weight: 700;
  }

  /* #endregion font */
}

@layer utilities {
  .animate-border-bottom {
    position: relative;
  }

  .animate-border-bottom:after {
    content: "";
    position: absolute;
    left: 0;
    /* spacing in bottom */
    bottom: -4px;
    /* border thickness */
    height: 2px;
    width: 100%;
    transform-origin: left center;
    background: white;
    transform: scale3d(0, 1, 1);
    transition: transform 500ms cubic-bezier(0.86, 0, 0.07, 1);
    border-radius: 4px;
  }

  .animate-border-bottom:hover:after {
    transform: scale3d(1, 1, 1);
  }
}
