/* font from: https://fonts.google.com/specimen/Roboto+Mono?preview.text=Vincent%20V&preview.text_type=custom */
@font-face {
    font-family: "Roboto_Mono";
    src: url("../assets/Roboto_Mono/static/RobotoMono-Regular.ttf");
}

@font-face {
    font-family: "Roboto_Mono";
    src: url("../assets/Roboto_Mono/static/RobotoMono-Bold.ttf");
    font-weight: bold;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translate3d(0, -5em, 0);
    }

    100% {
        opacity: 1;
        transform: translate3d(0, 0em, 0);
    }
}

@keyframes slideUp {
    0% {
        transform: translate(-50%, 100%);
        /* font-size: 30%; */
    }
    75% {
        transform: translate(-50%, -20%);
        /* font-size: 80%; */
    }
    92% {
        transform: translate(-50%, 15%);
    }
    100% {
        transform: translate(-50%, 0%);
    }
}

* {
    font-family: "Roboto_Mono";
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    scroll-behavior: smooth;
}

body {
    color: white;
    margin: 0;
    padding: 0 2em;
    background-color: rgb(0, 27, 68);
    background-image: linear-gradient(rgb(0, 136, 199), rgb(0, 27, 68));
    background-attachment: fixed;
}

h1 {
    margin-bottom: 0em;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: 0.25s;
}

a:hover {
    color: cyan;
}

.section {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; */
    margin-bottom: 4em;
}

.title {
    font-size: 300%;
    text-shadow: 0.1em 0.1em 0.2em black;
    margin-bottom: 0.5em;
    font-weight: bold;
}

#intro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 90vh;
    animation: 1s ease fadeIn;
    margin-bottom: 2em;
}

#profilePic {
    max-width: 27em;
    border-radius: 4.5em;
    margin: 5em;
    box-shadow: 0em 0.6em 0.6em 0 rgba(0, 0, 0, 0.5);
    transition-duration: 0.25s;
}

#profilePic:hover {
    transition-duration: 0.25s;
    transform: scale(1.1, 1.1);
}

#intro-content {
    padding: 3em 0;
}

#links {
    display: flex;
    flex-direction: row;
}

#links .iconBtn img {
    max-width: 3em;
    padding: 1em 1em 0 1em;
    transition-duration: 0.25s;
    transform: scale(1, 1);
}

#links .iconBtn img:hover {
    opacity: 50%;
    transition-duration: 0.25s;
    transform: scale(1.2, 1.2);
}

#about {
    text-align: center;
    padding-right: 15vw;
    padding-left: 15vw;
}

#about p {
    font-size: 120%;
}

#projects {
    text-align: center;
}

#projects-content {
    display: grid;
    grid-template-columns: auto auto;
    gap: 2em;
    text-align: start;
    margin: 0 5vw;
}

.card {
    background-color: whitesmoke;
    border-radius: 1em;
    box-shadow: 0em 0.6em 0.6em 0 rgba(0, 0, 0, 0.5);
    transition-duration: 0.25s;
    padding: 1.5em;
}

.card:hover {
    /* pop out animation */
    transition-duration: 0.25s;
    transform: scale(1.05, 1.05);
}

.card a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: black;
    text-decoration: none;
    height:100%;
}

.card img {
    max-width: 10em;
    max-height: 10em;
    box-shadow: 0em 0.3em 0.3em 0 rgba(0, 0, 0, 0.5);
}

.cardContent {
    padding: 0em 1.5em 0 4em;
    /* width: 20vw; */
}

.cardContent h2 {
    font-weight: bold;
}

#backToTop {
    display: none;
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    padding: 1em;
    bottom: 0;
    background-color: rgb(0, 102, 150);
    border-radius: 1em 1em 0 0;
    font-weight: bold;
    box-shadow: 0 -0em 1.5em 0.1em rgba(0, 0, 0, 0.438);
    transition-duration: 0.35s;
    font-size: 85%;
    animation: 0.4s ease slideUp;
}

#backToTop:hover {
    transition-duration: 0.35s;
    cursor: pointer;
    font-size: 100%;
    box-shadow: 0 -0em 1.5em 0.75em rgba(0, 0, 0, 0.438);
    color: white;
}

#backToTop img {
    position: relative;
    width: 3em;
}