/* @keyframes bop {
  0% {
    transform-origin: 15% bottom;
    transform: rotate3d(0, 0, 1, 0deg);
  }

  25% {
    transform-origin: 15% bottom;
    transform: rotate3d(0, 0, 1, -10deg);
  }

  50% {
    transform-origin: 15% bottom;
    transform: rotate3d(0, 0, 1, 0deg);
  }

  51% {
    transform-origin: 85% bottom;
  }

  75% {
    transform-origin: 85% bottom;
    transform: rotate3d(0, 0, 1, 10deg);
  }

  100% {
    transform-origin: 85% bottom;
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

.projects-line-emoji {
  animation: bop 1s ease-in-out infinite;
} */
