:root {
  --visual-delay: 500ms;
  --visual-dur: 1000ms;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes strokeDraw {
  50% {
    stroke-opacity: 1;
  }

  to {
    stroke-dashoffset: 2000;
    stroke-opacity: 0;
  }
}

@keyframes fillDraw {
  50% {
    fill-opacity: 0;
  }
  to {
    fill-opacity: 1;
  }
}

.fadeIn {
  opacity: 0;
  animation: fadeIn 1000ms ease forwards;
}

#visual path {
  position: relative;
  top: 50%;
  fill-opacity: 0;
  stroke-opacity: 1;
  stroke-width: 3px;
  stroke-dasharray: 3000;
  stroke-dashoffset: 3000;
  animation:
    strokeDraw var(--visual-dur) ease forwards,
    fillDraw var(--visual-dur) ease forwards;
}

#visual .p1 {
  animation-delay: calc(var(--visual-delay) + 200ms);
}

#visual .p2 {
  animation-delay: calc(var(--visual-delay) + 100ms);
}

#visual .p3 {
  animation-delay: calc(var(--visual-delay) + 0ms);
}

#visual .p4 {
  animation-delay: calc(var(--visual-delay) + 250ms);
}

#visual .p5 {
  animation-delay: calc(var(--visual-delay) + 500ms);
}
