@keyframes strokeDraw {
  /* 50% {
    stroke-opacity: 1;
  } */

  to {
    stroke-dashoffset: 0;
    stroke-opacity: 1;
  }
}

@keyframes fillDraw {
  50% {
    fill-opacity: 0;
  }
  to {
    fill-opacity: 1;
  }
}

@keyframes moveWave {
  0% {
    transform: translateX(0) scaleY(1.5);
  }
  50% {
    transform: translateX(-25%) scaleY(1.9);
  }
  100% {
    transform: translateX(-50%) scaleY(1.5);
  }
}

#wavesVisual g {
  animation: moveWave 30s linear infinite;
}
