@keyframes strokeDraw {
  /* 50% {
    stroke-opacity: 1;
  } */

  to {
    stroke-dashoffset: 0;
    stroke-opacity: 1;
  }
}

@keyframes fillDraw {
  50% {
    fill-opacity: 0;
  }
  to {
    fill-opacity: 1;
  }
}

/* Why we use translateZ */
/* https://stackoverflow.com/questions/13176746/css-keyframe-animation-cpu-usage-is-high-should-it-be-this-way */
/* @keyframes moveWave {
  0% {
    transform: translate3d(0, 0, 0) scaleY(1.5);
  }
  50% {
    transform: translate3d(-25%, 0, 0) scaleY(1.9);
  }
  100% {
    transform: translate3d(-50%, 0, 0) scaleY(1.5);
  }
}

#wavesVisual g {
  animation: moveWave 30s linear infinite;
  will-change: transform;
} */
